alias al    alias
al ,		'cd $dot'
al .	    'echo $cwd ; set dot = ${cwd};cd .'
al ..       'set dot=$cwd;cd ..'
al ...      'set dot=$cwd'
al ami      whoami
al bye      exit
al chkrpc   'rpcinfo -p | sed -n -e 1p -e /status/p'
al ccore	'find $HOME -name core -print -exec /usr/bin/rm {} \;'
al clr      clear
al cls      clear
al command 	'cat ${HOME}/commands | grep \!*'
al com		'cat ${HOME}/commands | grep \!*'
al cp		'cp -i'
al del      'rm -i'
al df       'df -h'
al dirm     'ls -F |more'
al dir 		'ls -F'
#al disp 	'setenv DISPLAY `display`'
#al displ    'setenv DISPLAY  \!*\:0'
al dropbox  'cd ~/Dropbox/'
al fcore    'find . -name "core" -print'
al ffile	'find . -name "\!*" -print'
al follinks	'set symlinks = ignore'
al fu 		'chkuser'
al garp     'garp -output 1 &'
al gemcolor 'less ${HOME}/gem/gemcolor'
al get      'git'
al gpw      'grep -i \!* /etc/passwd'
al grepm    'grep \!* | less'
al h1	    'history \!* | head -50 | more' 
al h		'history 30'
al http		'cd ${HOME}/http'
al idv		'cd /Applications/idv;java -Xmx512m -jar idv.jar'
al idv2		'cd /Applications/idv;java -Xmx1024m -jar idv.jar'
al idv3		'cd /Applications/idv;java -Xmx1536m -jar idv.jar'
al idv4		'cd /Applications/idv;java -Xmx2048m -jar idv.jar'
al idv5		'cd /Applications/idv;java -Xmx4096m -jar idv.jar'
al ip       'ipython qtconsole --pylab'
al j        'jobs -l'
al k9 		'kill -9'
al la	    ls -Fa
al lastg  	'last | grep -i \!* | grep -sv grep | less'
al laston	'lastlog |grep -i \!*'
al less		'less -X'
al ll       'ls -l'
al lf       'ls -F'
al llg      'ls -l |grep -i \!* | grep -v grep'
al lo       'exit'
al lst      'ls -alt | more'
al lstr     'ls -altr '
al lst5     'ls -alt | head -5'
al lst10	'ls -alt | head -10'
al last1    'last | head 15'
al ltar	    'tar tf'
al meso		'cd ${HOME}/gem/meso'
al mroe     'more'
al mywww	'cd ${HOME}/http'
al mv       'mv -i'
al nawips 	'cd ~nawips/'
al nmap 	'sudo nmap -sS '
al notebook 'ipython notebook '
al nolinks	'set symlinks = chase'
al ns       'nslookup -sil'
al nts		'clear;ls *nts'
al nuke     'set j = `ps x | grep \!* | grep -v grep`;\ kill -9 $j[1]; echo "kill -9 $j[1]"'
al pass 	'cat ${HOME}/mjl/.PASSWDS | grep -i \!*'
al ps1		'/usr/ucb/ps'
al psg		'ps acux | grep -i \!* | grep -v grep'
al psm      'ps aux | less'
al psu      'ps u'
al pwg      'grep -i \!* /etc/passwd'
al pman		'man -t \!* | open -f -a /Applications/Preview.app'
al quota 	'quota -v'
al r        'source'
al restart  'source ~/.cshrc'
#al redock	'set pid = `ps aux | grep Docks.app | grep -v grep | awk '{print($2)}' | xargs -t kill -HUP `'
al rm 	   	'/bin/rm -i'
al rmall    '/bin/rm'
al rmcore	'find . -name core -print -exec \rm {} \;'
al rmcur	'find . -name ".curator_*" -print -exec \rm {} \;'
al rmds		'find . -name ".DS_Store" -print -exec \rm {} \;'
al rmfiles	'find . -name "\!*" -print -exec \rm {} \;'
al rmcle	'find . -name "\!*" -print -exec \rm {} \;'
al seek 	'find . -name "\!*" -print '
al sgem		'source /usr/local/nawips/Gemenviron'
al sl		'ls'
al slay 	'set j = `ps1 guw | grep \!* | grep $user | grep -v grep` ; echo $j ; k9 $j[2]'
al space   	'du -sk *| sort -nr - | less'
al swc      'cd ~/teaching/swc'
al tail     'tail -100'
al tailf    '\tail -f '
al top10	'/bin/ps aux |head -10'
al tim	    'date -u; date'
al tpop     'tailf /var/log/popper.log'
al u        'uptime'
al untar    'tar xfzv'
al vt100    'setenv TERM vt100'
al ws		'w |sort |less'
al wwwl     'cd ~www/apache/logs'
al wwwerr	'\tail -f  ~www/apache/logs/error_log'
al wwwme    'cd ~laufers/http'
al x        'chmod u+x'

set OS = `uname`
switch ($OS)
    case Linux:
       # Setting PATH for EPD
        al ls       '/bin/ls --color'
        breaksw
    case Darwin:
        al ls       '/bin/ls -G'
        breaksw
endsw
